<div class="container">
  <div class="left">
    <img src="assets/images/svg/woman_2.svg" alt="woman standing" />
  </div>
  <div class="right">
    <app-badge text="What we offer" />
    <p class="heading">Have access to loans anytime anywhere</p>
    <p class="body">
      We also provide working capital support the micro businesses within the
      FMCG value chain to meet daily operational needs & partner with you to
      grow your business by providing the right type of funding.
    </p>
  </div>
</div>
