@use "../../../../utils.scss";

.container {
  @include utils.centerPage();
  padding: 4.25rem 0.625rem;
  display: grid;
  gap: 2rem;

  p {
    font: 400 2.5rem utils.$gt;
    color: utils.$black_1;
    text-align: center;
    width: 70%;
    margin: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  app-button {
    margin: auto;
  }
}
