@use "../../../../utils.scss";

.container {
  width: fit-content;
  border-radius: 20px;
  padding: 0.25rem 2.5rem;

  @media (max-width: 768px) {
    margin: 0 auto;
  }

  &.primary {
    background-color: utils.$purple_2;
  }

  &.secondary {
    background-color: #effafe;
  }

  p {
    font: 700 1.125rem utils.$dm;
    &.primary {
      color: utils.$purple_1;
    }

    &.secondary {
      color: #5eccf3;
    }
  }
}
