<div class="container">
  <div class="left">
    <app-badge text="Why Revent" />
    <p class="heading">
      We are a micro-finance body that
      <span>cares</span>
    </p>
    <p class="body">
      We support micro businesses and enterprises within the fast-moving
      consumer goods (FMCG) sector with a view to reduce hunger and foster a
      thriving micro economy within our communities amongst men and women.
    </p>
  </div>
  <div class="right">
    <img src="assets/images/svg/man_1.svg" alt="man standing" />
  </div>
</div>
