@use "../../../../utils.scss";

.container {
  @include utils.centerPage();
  padding: 1.25rem 0.625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  position: relative;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }

  .left {
    display: grid;
    gap: 1.25rem;

    .heading {
      font: 500 3.125rem utils.$gt;
      line-height: 3.6rem;
      color: utils.$black_1;

      span {
        color: utils.$purple_1;
        font-weight: 700;
      }
    }

    .details {
      font: 400 1.5rem utils.$prox;
      line-height: 2.25rem;
      color: #000;
    }

    @media (max-width: 850px) {
      app-button {
        text-align: center;
      }
    }
  }

  .right {
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    @media (max-width: 850px) {
      text-align: center;
    }
  }
}
