@use "../../../../../utils.scss";

.bg {
  background-color: #fff;

  &.stick {
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 0.2px solid utils.$purple_2;
    transition: all 0.5s ease-in-out;
  }

  .container {
    @include utils.centerPage();
    padding: 1.875rem 10px;
    display: grid;
    position: relative;

    .menu-wrapper {
      display: none;
      z-index: 10;

      @media (max-width: 768px) {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logo {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: utils.$day;
        color: #7d97f4;
      }

      .menu {
        cursor: pointer;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease-in-out;

      @media (max-width: 768px) {
        flex-direction: column;
        position: absolute;
        width: 100%;
        z-index: 5;
        padding: 20px;
        background-color: #fff;
        gap: 1rem;
        align-items: start;
        display: none;

        &.show {
          display: flex;
          padding-top: 3rem;
        }
      }

      .logo {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: utils.$day;
        color: #7d97f4;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .links {
        display: flex;
        gap: 2.5rem;
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }

        .link {
          font-weight: 400;
          font-size: 1rem;
          text-decoration: none;
          color: utils.$black_1;
          font-family: utils.$gt;

          &.active {
            font-weight: 700;
            color: utils.$purple_1;
          }
        }
      }
    }
  }
}
