<div class="wrapper">
  <div class="container">
    <div class="item">
      <p class="title">40+</p>
      <p class="body">
        staff in different <br />
        regions
      </p>
    </div>
    <div class="item">
      <p class="title">40M+</p>
      <p class="body">
        total amount loan <br />
        disbursed
      </p>
    </div>
    <div class="item">
      <p class="title">360+</p>
      <p class="body">
        Approved & disbursed <br />
        loan applications
      </p>
    </div>
  </div>
</div>
