<section class="container">
  <div class="left">
    <div class="list">
      <app-easy-card
        title="Quick & Instant"
        body="We provide you with a faster approach to applying for a loan. As mentioned earlier, you will get your loan within 24 hours."
      >
        <div class="img">
          <img src="assets/images/svg/speaker.svg" alt="speaker" />
        </div>
      </app-easy-card>
      <app-easy-card
        title="Technology driven"
        body="We have enhanced the loan application process by utilizing technology to bring you convenience and speed"
      >
        <div class="img">
          <img src="assets/images/svg/speaker.svg" alt="speaker" />
        </div>
      </app-easy-card>
    </div>
    <div class="list last">
      <app-easy-card
        title="Competitive interest rates"
        body="Our interest rates are hard to beat. With us you get more for less."
      >
        <div class="img">
          <img src="assets/images/svg/speaker.svg" alt="speaker" />
        </div>
      </app-easy-card>
      <app-easy-card
        title="Convenient & flexible"
        body="With us you get access to the funds you need through our hassle-free and efficient processes"
      >
        <div class="img">
          <img src="assets/images/svg/speaker.svg" alt="speaker" />
        </div>
      </app-easy-card>
    </div>
  </div>
  <div class="right">
    <app-badge text="We guarantee" />
    <p class="heading">
      Easy Financial services <br />
      <span>wherever you go</span>
    </p>
    <p class="body">
      Whether you're at home, at the office, or on the go, you can apply for
      your loan from anywhere. We will be available to help you every step of
      the way
    </p>
  </div>
</section>
