@use "../../../../../utils.scss";

.container {
  padding: 3.75rem 0.625rem 0px 0.625rem;
  background-color: utils.$blue_1;
  color: #ffffff;
  margin-top: 4rem;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }

    .logo {
      cursor: pointer;
      font-size: 2.5rem;
      font-weight: 400;
      font-family: utils.$day;
      color: #ffffff;

      @media (max-width: 768px) {
        font-size: 1.25rem;
      }
    }

    .links {
      display: flex;
      gap: 1.5rem;

      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }

      .link {
        color: #fff;
        text-decoration: none;
        font: 400 1.125rem utils.$gt;
      }
    }

    .socials {
      display: flex;
      gap: 1.5rem;
    }
  }

  .line {
    width: 97%;
    opacity: 20%;
    margin: 1.25rem auto;
    border-color: #fff;
  }

  .note {
    word-wrap: break-word;
    padding: 1.875rem 0px 2.5rem 0px;
    text-align: center;
    font: 400 1.125rem utils.$gt;
  }
}
