@use "../../../../utils.scss";

.container {
  @include utils.centerPage();
  padding: 3.25rem 0.625rem;
  display: grid;
  gap: 3rem;

  .heading {
    width: 48%;
    font: 700 2.5rem utils.$gt;
    line-height: 3.75rem;
    color: utils.$black_1;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
  .time {
    font: 700 2.5rem utils.$gt;
    line-height: 3.75rem;
    color: utils.$purple_1;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .step {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }

    .left {
      display: flex;
      gap: 1rem;

      .step-wrapper {
        .line {
          margin-left: 5px;
          position: relative;
          width: 8px;
          height: 81%;
          background-color: #f2f2f2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .inner {
            background-color: utils.$purple_1;
            transition: height 0.5s ease-in-out;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;

            &.active {
              height: 100%;
            }
          }
          .counter_1,
          .counter_2,
          .counter_3 {
            width: 20px;
            height: 20px;
            left: -10px;
            border-radius: 50%;
          }
          .counter_1 {
            transform: translate(-6px, -3px);
            background-color: utils.$purple_1;
          }
          .counter_2 {
            transform: translateX(-6px);
            background-color: utils.$purple_1;
          }
          .counter_3 {
            transform: translate(-6px, 3px);
            background-color: #f2f2f2;

            &.active {
              transition: background-color 0.5s ease-in-out;
              background-color: utils.$purple_1;
            }
          }
        }
      }

      .list {
        display: grid;
        gap: 2.5rem;

        .item {
          display: grid;
          gap: 1rem;

          .name {
            font: 700 2rem utils.$gt;
            color: utils.$black_1;
            line-height: 2.5rem;

            &.last {
              transition: color 0.5s ease-in-out;
              color: #bdbdbd;
            }
          }

          .body {
            font: 400 1.125rem utils.$prox;
            color: utils.$black_1;
            line-height: 1.7rem;

            &.last {
              color: #bdbdbd;
              transition: color 0.5s ease-in-out;
            }
          }
        }
      }
    }

    .right {
      text-align: center;
      img {
        @include utils.respImg();
      }
    }
  }
}
