@mixin centerPage($width: 1200px) {
  max-width: $width;
  margin: auto;
  padding: 10px;
}

@mixin gap($size: 40px) {
  display: grid;
  gap: $size;
}

//fonts
$day: "Days One", sans-serif;
$gt: "Gt Walsheim", sans-serif;
$prox: "Proxima Nova", sans-serif;
$dm: "DM Sans", sans-serif;

//colors

$purple_1: #7d97f4;
$black_1: #222222;
